@model InventoryManagement.DataAccess.Models.Purchase

@{
    ViewData["Title"] = "Purchase Details";
}

<h1 class="text-primary">Purchase Details</h1>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Product Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Product Quantity")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Purchase Date")
        </dt>
        <dd class="col-sm-10">
            @Model.PurchaseDate.ToString("dd/MM/yy")
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="UpdatePurchase" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-danger" asp-action="DisplayPurchase">Cancel</a>
</div>

